/* =============================================================================
 * LAYOUT
 * ========================================================================== */

 .fcnen-settings {
  &__content {
    display: grid;
    grid-gap: 40px;
    margin-top: 16px;
  }

  &__columns {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
  }
}

/* =============================================================================
 * TABLE
 * ========================================================================== */

.fcnen-subscribers-table-wrapper .column-id {
  width: 64px;
}

@media screen and (max-width: 782px) {
  .fcnen-subscribers-table-wrapper .column-id:is(td, th):not(.hidden) {
    display: none !important;
  }
}

.fcnen-subscribers-table-wrapper .column-email {
  @media screen and (min-width: 1024px) {
    min-width: 265px;
  }
}

.fcnen-subscribers-table-wrapper .column-status {
  width: 128px;
}

.fcnen-subscribers-table-wrapper .column-date {
  width: 188px;
}

/* =============================================================================
 * BOX
 * ========================================================================== */

.fcnen-box {
  border: 1px solid #c3c4c7;
  box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
  background: #fff;

  &__header {
    border-bottom: 1px solid #c3c4c7;
  }

  &__header :is(h1, h2, h3, h4, h5, h6) {
    font-size: 14px;
    line-height: 1.4;
    padding: 8px 12px;
    margin: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px;
  }

  &__horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 20px;
    margin: 12px 0;

    &:not(:first-child) {
      margin-top: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

/* =============================================================================
 * ELEMENTS
 * ========================================================================== */

.fcnen-input-wrap {
  flex: 1 1 auto;

  input:not([type="checkbox"], [type="radio"], [type="range"]) {
    margin: 0;
    width: 100%;
  }
}

.fcnen-checkbox-wrap {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;

  input[type="checkbox"] {
    margin: 0;
  }
}
