:root[data-mode=light] {
  --fcnen-li-background-hover: rgb(0 0 0 / 10%);
  --fcnen-li-label-background: rgb(0 0 0 / 15%)
}

.fcnen-dialog-modal {
  --modal-width: 600px;

  p {
    &:not(:last-child) {
      margin-bottom: .75em;
    }
  }

  &__ajax-target {
    transition: filter 0.3s;

    &.ajax-in-progress {
      pointer-events: none;
      filter: blur(1px);
    }
  }

  &__input-button-pair {
    display: flex;
    gap: 3px;

    input {
      flex: 1 1 auto;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__scopes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .checkbox-label {
      height: auto;
    }
  }

  &__notice {
    display: grid;
    place-content: center;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    padding: 12px 12px 24px;
  }

  &__advanced {
    display: grid;
    gap: 1.5px;

    &-search {
      position: relative;

      &-string {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        padding-right: 80px !important;
        width: 100%;
      }

      &-select {
        appearance: none;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        color: var(--fg-700);
        font-size: 11px;
        line-height: 32px;
        text-align: right;
        padding: 0 8px;
        height: 32px;

        &:hover {
          color: var(--fg-300);
        }
      }
    }

    &-lists {
      display: flex;
      flex-direction: column;
      gap: 1.5px;
      border-radius: 0 0 var(--layout-border-radius-small) var(--layout-border-radius-small);
      overflow: hidden;

      @media screen and (min-width: 500px) {
        flex-direction: row;
      }
    }

    &-sources,
    &-selection {
      list-style: none;
      background: var(--input-background);
      padding: 4px;
      height: 158px;
      overflow: hidden auto;

      @media screen and (min-width: 500px) {
        flex: 1 1 50%;
      }
    }

    &-li {
      cursor: pointer;
      user-select: none;
      position: relative;
      font-size: 12px;
      line-height: 1.3;
      overflow-wrap: break-word;
      padding: 4px 18px 4px 4px;

      &:not(._disabled, ._no-match, ._change-search):hover {
        background: var(--fcnen-li-background-hover, rgb(255 255 255 / 10%));
        color: var(--fg-400);
      }

      &:is(._disabled, ._no-match, ._change-search) {
        cursor: default;
        opacity: .6;

        &:hover {
          opacity: .7;
        }

        .fcnen-icon {
          display: none;
        }
      }

      &._empty {
        &:not(:last-child),
        &:not(:first-child) {
          display: none;
        }
      }

      .fcnen-icon {
        position: absolute;
        top: 50%;
        right: 0;
        color: var(--fg-900);
        padding: 5px 4px 5px 24px;
        transform: translateY(-50%);
        width: auto;
      }

      &.flash-too-many {
        &::after {
          content: attr(data-too-many);
          pointer-events: none;
          position: absolute;
          inset: 0;
          z-index: 1;
          display: grid;
          place-content: center;
          background: var(--red-400);
          color: var(--notice-warning-color);
          font-weight: 400;
          opacity: 0;
          transition: opacity .5s;
          animation: fcnen-flash .7s ease-out;
        }
      }
    }
  }
}

.fcnen-item-label {
  display: inline-block;
  background: var(--fcnen-li-label-background, rgb(255 255 255 / 15%));
  font-size: 10px;
  font-weight: var(--font-weight-medium);
  line-height: 1;
  padding: 3px 4px;
  margin-right: 1px;
  border-radius: 2px;
  transform: translateY(-0.5px);
}

.fcnen-inline-button {
  color: var(--primary-500);
  font-weight: var(--font-weight-medium);

  &:hover {
    color: var(--primary-400);
  }
}

.fcnen-modal-skeleton {
  animation: skeleton-animation 2s linear infinite;

  .shape {
    background: var(--skeleton-shape-color);
  }
}

.fcnen-subscription-form {
  &._everything {
    .checkbox-label:not(._everything) {
      pointer-events: none;
      opacity: .5;
    }

    :is(hr, .fcnen-dialog-modal__advanced) {
      display: none;
    }
  }
}

@keyframes fcnen-flash {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.fcnen-subscription-shortcode {
  cursor: pointer;
  border-radius: var(--layout-border-radius-small);

  &__input {
    user-select: none;
    pointer-events: none;
    width: 100%;
  }
}
