.fcnen-dialog-modal {
  --modal-width: 600px;

  p {
    &:not(:last-child) {
      margin-bottom: .75em;
    }
  }

  &__ajax-target {
    transition: filter 0.3s;

    &.ajax-in-progress {
      pointer-events: none;
      filter: blur(1px);
    }
  }

  &__input-button-pair {
    display: flex;
    gap: 3px;

    input {
      flex: 1 1 auto;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__scopes {
    display: flex;
    gap: 1rem;

    .checkbox-label {
      height: auto;
    }
  }

  &__notice {
    display: grid;
    place-content: center;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    padding: 12px 12px 24px;
  }
}

.fcnen-inline-button {
  color: var(--primary-500);
  font-weight: var(--font-weight-medium);

  &:hover {
    color: var(--primary-400);
  }
}

.fcnen-modal-skeleton {
  animation: skeleton-animation 2s linear infinite;

  .shape {
    background: var(--skeleton-shape-color);
  }
}

.fcnen-subscription-form {
  &._everything {
    .checkbox-label:not(._everything) {
      pointer-events: none;
      opacity: .5;
    }
  }
}
